body,
html {
    height: 100vh;
    width: 100 vw;
    padding: 0;
    margin: 0;
}

.go {
    margin: 5rem;
    padding: 5rem;
}

.go.round {
    border-radius: 50%;
    transition: all 0.5s ease-in-out;
}

.go.green {
    background: green;
    color: white;
}
