p {
  font-size: 50px;
  border-bottom: 10px solid var(--yellow);
  color: var(--black);
}

.container {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, 150px);
}

.item4 {
  grid-column-end: -1;
}
